.produto-box{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 284px;
    height: 574px;
}

.produto-imagem{
    width: 100%;
}

.produto-info{
    padding-left:20px;
    padding-right:20px;
}


.produto-preco-antigo{
    margin-top: 14px;
    text-decoration: line-through;
}

.produto-preco-atual{
    margin-top: 4px;
    font-size: 24px;
}

.produto-preco-centavos{
    font-size: 10px;
    line-height: 28px;
    vertical-align: super;
    font-weight: 200;
}

.produto-preco-desconto{
    color: #00a650;
    display: inline;
    font-size: 12px;
    font-weight: 200;
}

.produto-preco-desconto-centavos{
    font-size: 6px;
}

.produto-oferta-texto{
    color: #ffffff;
    background-color: #3483FA;
    padding: 2px 4px 2px 4px;
    display: inline;
    border-radius: 4px;
}

.produto-imagem-container{
    align-items: top;
}